@use '../utils' as *;


.counter__area{
    background-color: var(--tp-theme-green);
    padding:80px 0;
    & h2{
        color:white;
        font-weight: bold;
    }
    & p{
        color:white;
        font-size:16px;
        margin-top:-10px
    }
}