@use '../utils' as *;

.footer__area{
    padding:88px 0 97px 0;
    background-color: #FFFFFF;
    @media #{$xs}{ 
        padding-top: 23px;
     }

    // footer top 
    & .footer__top{
        padding-bottom: 48px;
        border-bottom:1px solid #BCBCBC;
        @media #{$xs}{ 
            padding-bottom: 23px;
         }


        & h3{
            color:#494949; 
            margin-bottom: 36px;
            font-size: 40px;
            font-weight: 700;
             @media #{$xs}{ 
                font-size:12px;
                margin-bottom: 5px;
             }
        }
        & button{
            padding:10px 20px;
            color:white;
            background-color:#494949;
            border-radius:20px;
            font-weight: 700;
            font-size: 24px;
            @media #{$xs}{ 
                font-size:12px;
                padding:6px 20px;
                margin-top: 6px;
             }
        }


        & .footer__head{
            padding:33px 0;
            display:flex;
            align-items: center;
            justify-content: space-between;
            border-bottom:1px solid #BCBCBC;
            margin-bottom: 30px;

            & .footer__head__btn{
                & button{
                    background-color:transparent;
                    text-transform: uppercase;
                    color:#494949;
                    border: 1px solid black;
                    padding:0 18px;
                    font-size: 10px;
                }
            }

        }
    }

   
    // footer center 

    & .footer__center{
        padding:64px 0;
        border-bottom:1px solid #BCBCBC;
        @media #{$sm}{
            padding:30px 0;
        }
        @media #{$xs}{
            padding:30px 0;
        }

        &-left{ 
            h4{
                color:#494949;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 17px;
            }
            & ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                & li a{
                    color:#494949;
                    font-size: 15px;
                    font-weight: 400;
                    margin-bottom: 10px;

                }
            }
        }
        &-right{
            flex-direction: column;
             
            & p{
                font-size: 15px;
                font-weight: 400;
                text-align: right;
                padding-left: 297px; 
                margin-bottom: 60px;
                @media #{$md}{ 
                    padding: 0 71px;
                    text-align: center;
                    font-size: 10px;
                    line-height: 16px;
                 }
                @media #{$sm}{ 
                    padding: 0 71px;
                    text-align: center;
                    font-size: 10px;
                    line-height: 16px;
                 }
                @media #{$xs}{ 
                    padding: 0 71px;
                    text-align: center;
                    font-size: 10px;
                    line-height: 16px;

                 }
            }
            & .client__logo {
                & img{
                    width:100%;
                    height:80px;
                    object-fit: contain;
                }
            }
            & img{
                
                margin-left: 43px;
                @media #{$xl}{
                    margin-left: 22px;
                }
            }
        }
    }

    // footer bootom 

    & .footer__bottom{
        padding-top: 46px;
        & .copyright{
            font-size: 14px;
            font-weight: 400;
            color:#494949;
            @media #{$sm}{
                text-align: center; 
                margin-top: 24px;
             }
            @media #{$xs}{
                text-align: center; 
                margin-top: 24px;
             }
            & span{
                @media #{$sm}{
                    text-align: center;
                    margin-top: 24px;
                 }
                @media #{$xs}{
                    text-align: center;
                    margin-top: 24px;
                 }
            }

        }
        &-social{ 
            a{
                font-size: 15px;
                width:39px;
                height:39px;
                border-radius: 50%;
                margin-left: 10px;
                line-height:39px;
                text-align: center;
                display:inline-block;
                border:1px solid #D1D1D1;
            }
        }

    }
}