@use '../utils' as *;

/*----------------------------------------*/
/*  02. HEADER CSS START
/*----------------------------------------*/

 
 
.other__page{ 
    width: 100%;
    height: 200px;
    background-color: var(--tp-theme-purple);
    top: 0 !important;
    padding-top: 40px;  
    position:fixed;
    z-index: 1;
    clip-path: ellipse(67% 51% at 49% 33%);
    @media #{$xs}{
        clip-path:ellipse(81% 72% at 49% 26%)
    }
}
.header{
     &__area{
        position: fixed;
        top: 39px;
        left: 0;
        right: 0;
        transition: all 0.3s;
        z-index:999;
     }
    &__transparent{
        // position: absolute !important;
        left: 0;
        margin: auto;
        top: 0;
        width: 100%;
        z-index: 99;
        background: white; 
        z-index: 9999;
        display:block;
        transition:all 0.3s;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    &__menu{
        background-color: white;
        padding:20px 20px;
        border-radius: 20px;
        @media #{$xl}{
            padding:16px 20px;
        }
        & nav{
            & ul{
                list-style: none;
                display: flex;
                @media #{$xs}{
                    flex-direction: column;
                }
                & .has-dropdown{ 
                    transition: all 0.5s;
                    position: relative;
                    display:flex;

                    &::after{
                        content:"\f107";
                        font-family: var(--tp-ff-fontawesome);
                        margin-left: 5px;
                    }

                    &:hover , &:active{
                        color:var(--tp-theme-purple);
                        &::after{ 
                            content:"\f106";
                            color:var(--tp-theme-purple); 
                        }
                    }
                    
                }
                & li{
                    display:inline-block;
                    position: relative;
                    margin-right: 15px;
                    border-bottom:1px solid transparent;
                    &:hover{ 
                        border-bottom: 1px solid var(--tp-theme-purple); 
                    }
                   
                    & .submenu{
                        position: absolute;
                        top:238%;
                        display:flex;
                        flex-direction: column;
                        background-color: white;
                         min-width:250px;
                         width: fit-content;
                        text-align: left;
                        border-radius: 30px;
                        padding:20px;
                        transition: all 0.3s;
                        visibility: hidden;
                        opacity: 0;
                        z-index:99999; 
                        @include box-shadow(0px 30px 70px 0px rgba(11, 6, 70, 0.08));
                        & .submenu{
                            left:100%;
                            top:-10px;
                        }
                        
                        & li{
                            display:block;
                            padding:5px 0;
                            &:hover{
                                border-bottom:0;
                            }
                            & a{
                                display:block;
                                transition: all 0.3s;
                                &::after{
                                    content: '\f105';
                                    @include transform(translateY(0px));
                                    font-size: 14px;
                                    color: var(--tp-common-black);
                                    font-family: var(--tp-ff-fontawesome);
                                    font-weight: 400;
                                    margin-left: 15px;
                                    display: inline-block;
                                }
                                &:hover{
                                    border-bottom:0;
                                    &::after{
                                        margin-left:20px;
                                    }
                                }
                            }

                            
                        }
                    }
                    &:hover > .submenu{
                        top:102%;
                        visibility: visible;
                        opacity: 1;
                        & li{
                            & a{
                                border-bottom: 0;
                            }
                        }
                    }
                    & a{
                        display:block;
                        font-size: 16px;
                        color:#494949;
                        font-weight: 700;
                         
                        position: relative;  
                        border-bottom: 1px solid transparent;
                        transition: all 0.5s;
                      
                        
                        &:hover, &:active{
                            color:var(--tp-theme-purple);
                            border:0;
                           
                        
                            
                        }
                      
                    }
                   
                    
                }
            }
        }
 
  
        & .header{
            &__button{ 
                & .header__donate{
                    padding:7px 20px;
                    background-color: var(--tp-theme-green);
                    border-radius: 20px;
                    font-size: 12px;
                    font-weight: 700;
                    color:white; 
                    @media #{$xl}{
                        font-size: 10px;
                    }
            }
                & .header__contact{
                    padding:7px 20px;
                    background-color:transparent;
                    border-radius: 20px;
                    font-size: 12px;
                    border:1px solid var(--tp-theme-purple);
                    font-weight: 700;
                    color:var(--tp-theme-purple); 
                    @media #{$xl}{
                        font-size: 10px;
                    }
                }
                & .header__phone{
                     padding:0;
                     width:40px;
                     height:40px;
                     line-height:40px;
                     text-align: center;
                     border-radius:50%;
                     border:1px solid var(--tp-theme-purple);
                     @media #{$xl}{
                        font-size: 10px;
                    }
                }
        }

     }
 }
    
 
    &__hamburger{
        margin-top: 3px;
    }
  
    & .header-sticky{
        width:100%;
        top:0;
    }
    &__sticky{
        &.header__sticky{
            position: fixed !important;
            left: 0;
            margin: auto;
            top: 60px;
            width: 100%; 
            z-index: 99999999;
            -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInDown; 
            background: transparent;
        }
    }
  
  
}

/* logo */

.logo{
    & img{
        width: 150px;
    }
}



// mobile menu 

.mobile__menu{
    width:100%;
    padding:0;
    position:relative;
    & .shape{
        position:absolute;
        left: 0;
        top: 100%;
        width:100%;
        height:auto;
        z-index: 999999;
    }
    .mobile__menu-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-size: contain;
        padding-top:30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:60px;
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:999;   
        clip-path: ellipse(91% 64% at 49% 26%);  
        background-color: var(--tp-theme-purple);
        & .menu__btn{
            border:1px solid white;
            border-radius: 30px;
            color:white;
            font-size: 10px;
            font-weight: 700;
            padding:8px 20px;
            text-transform: uppercase;
            line-height: 1;
        }
    }

    & .offcanvas-header{
        background-color:var(--tp-theme-purple);
        padding-top:30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom:60px;
        display:flex;
        align-items: center;
        clip-path: ellipse(96% 73% at 44% 26%);
    }
  
    & .offcanvas-start{
        width:100% !important;
    }
    & .btn-close{
        color:white;
        background:none;
        position:relative;
        &:hover{
            color:white;
            border-color:white;
        }
        &::after{
            content: "\f00d";
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
            font-size: 22px;
            color: white;
            width: 32px;
            height: 32px;
            top: 0;
            line-height: 32px;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            font-family: var(--tp-ff-fontawesome);
            font-weight: 400;
            
            border: 1px solid white;
            display: block;
        }
    }




}
 

/* Fixed sidenav, full height */
.sidenav { 
    width: 100%; 
    background-color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 10px;
     
  } 
  .dropdown-btn{
    color:#494949;
  }
  .dropdown-container >a{
    border-bottom:0px !important; 
  }
  .sidenav a, .dropdown-btn {
    padding: 12px 8px 12px 0px;
    text-decoration: none;
    font-size: 14px;
    color: #494949;
    display: block;
    border-bottom:0.2px solid #a19595a5;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: 700;

  }
  .sidenav a:last-child{
    border-bottom: 0 !important;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: var(--tp-theme-purple);
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
   
  
  .dropdown-container {
    display: none;
    background-color:white;
    padding-left: 13px;
    transition: all 0.3s;
  } 
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .sidenav__button{
    position:absolute;
    bottom: 0;
    left:44px;
  }
  .sidenav__button{
    margin-bottom: 22px;
    & button{
        font-size:12px;
        padding:2px 12px;
        border-radius:30px;
    }
    & .donate{
        background-color: var(--tp-theme-green);
        color:white;
        border-radius:30px;
    }
    & .contact{
        background-color: var(--tp-theme-purple);
        color:white;
        margin-left: 9px;
    }
    & .phone{
        width:24px;
        height:24px;
        border:1px solid var(--tp-theme-purple);
        border-radius:50%;
        line-height:24px;
        display:inline-block;
        font-size:12px;
        text-align: center;
        margin-left: 9px;
    }

  }

   .dropdown-btn{
    position:relative;
    &::after {
        content:"\f107";
        font-family: var(--tp-ff-fontawesome);
        margin-left: 5px;
    }
   }



   // new side menu


.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 240px;
  height: 100%;
  background: #293949;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
  #leftside-navigation {
    ul, ul ul {
      margin: -2px 0 0;
      padding: 0;
    }
    ul {
      li {
        list-style-type: none;
        border-bottom: 1px solid rgba(255,255,255,.05);
        &.active {
          & > a {
            color: #1abc9c;
          }
          ul {
            display: block;
          }
        }
        a {
          color: #aeb2b7;
          text-decoration: none;
          display: block;
          padding: 18px 0 18px 25px;
          font-size: 12px;
          outline: 0;
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          &:hover {
            color: #1abc9c;
          }
          span {
            display: inline-block;
          }
          i {
            width: 20px;
            .fa-angle-left, .fa-angle-right {
              padding-top: 3px;
            }
          }
        }
      }
    }
    ul ul {
      display: none;
      li {
        background: #23313f;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
        a {
          font-size: 12px;
          padding-top: 13px;
          padding-bottom: 13px;
          color: #aeb2b7;
        }
      }
    }
  }
}