@use '../utils' as *;

/*----------------------------------------*/
/*  00. Banner CSS START
/*----------------------------------------*/

// hero section css start
 

.hero__area{ 
    position:relative;
    overflow-x:hidden ;
    
    & .shape{
        // z-index:5;
        position: absolute;
        width:100%;
        height:auto;
        left: 0;
        bottom: 0;
        right:0;
    }

    & .hero__content{
        // padding-left: 332px;
        padding-left: 32%;
        background-color: var(--tp-theme-purple);
        height:100%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 72px;
        @media #{$xxxl}{
            padding-left: 25%;
        }
        @media #{$xxl}{
            padding-left: 22%;
        }
        @media #{$xl}{ 
            max-height:80vh;
            min-height:80vh;
        }
        @media #{$xs}{
            padding-left: 15px;
            text-align: center;
            height:100vh;
        }

        & span{
            font-weight: 700;
            color:white;
            font-size: 20px;
            margin-bottom: 20px;
            display:inline-block;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
       & p{
        font-size: 20px;
        font-weight: 400;
        color: white;
        padding-right: 190px;
        line-height: 1.6;
        @media #{$xl}{
            padding-right: 90px;
            font-size:14px;
        }
       }
        & h2{
            font-weight: 700;
            color:white;
            padding-right: 10px;
            & span{
                font-size: inherit;
                text-transform: inherit;
                display:inline-block;
            }

            @media #{$xl}{
                font-size:30px;
            }
            @media #{$md}{
                font-size:30px;
            }
            @media #{$xs}{
                font-size:30px;
            }
        }
        & button{ 
            // padding:10px 20px;
            border-radius: 20px;
            color:var(--tp-theme-purple);
            background-color: white;
            width:158px;
            height:48px;
            font-weight: 600;
            margin-top: 45px;
            font-size: 15px;
            display:inline-block !important;

            @media #{$xs}{
                 justify-content: center;
                 align-items: center;
                 text-align: center;
            }
        }
    }

    & .hero__right{
        @media #{$xl}{
            min-height:80vh;
            max-height:80vh;
        }
        img{
            width:100%;
        }
    }
}
 
 

// hero area for mobile 

.hero__mobile{
    margin-top:100px;
    padding-top: 326px;
    padding-left: 68px;
    padding-right: 68px;
    padding-bottom: 44px;
    background-position: top left;
    background-size: cover;
    position:relative;
    &::after{
        content:'';
        width:100%;
        height:100%; 
        position:absolute;
        left:0;
        top:0;
        right:0;
        z-index:2;
        background: linear-gradient(180deg, rgba(120, 44, 157, 0) 21.54%, #782C9D 79.65%);

        z-index:5
    }

    & .hero__mobile-content{
        position: relative;
        color:white;
        z-index: 9;
        
        text-align: center;
        & h2{
            font-size: 32px;
            font-weight: 700;
            color:white;
        }
        & p{
            font-size: 12px;
            font-weight: 400;
            color:white;
        }
        & button{
            background-color: #fff;
            border-radius:30px;
            font-size: 13px;
            font-weight: 800;
            color:var(--tp-theme-purple)
        }
    }
}

// about area 
 .understand__area{
    padding:160px 0;
    background-color: white;
    @media #{$sm}{
        padding:27px 0;
        text-align: center;
    }
    @media #{$xs}{
        padding:27px 0;
        text-align: center;
    }
    .understand__content{
        @media #{$sm}{
            padding-left: 16px;
            padding-right: 16px;
        }
        @media #{$xs}{
            padding-left: 16px;
            padding-right: 16px;
        }
        span{ 
            text-transform: uppercase; 
            margin-bottom: 20px;
            @media #{$sm}{
                font-size: 14px;
            }
            @media #{$xs}{
                font-size: 14px;
            }
        }
        & h2{
            color:var(--tp-heading-primary);
            font-size:60px;
            line-height:1.1;
            margin-top: 20px;
            font-weight:700;
            margin-bottom: 45px;
            @media #{$xs}{
                font-size: 32px;
            }
            @media #{$sm}{
                font-size: 32px;
            }
        }
       & p{
            color:var(--tp-text-body);
            font-weight:400;
            font-size:20px;

            @media #{$sm}{
                font-size: 12px;
            }
            @media #{$xs}{
                font-size: 12px;
            }
        }
        & button{
            border-radius:30px;
            background-color: var(--tp-theme-purple);
            font-size: 14px;
            font-weight: 700;
            color:white;
        }
    }
    .understand__img {
        padding-left: 60px; 
        @media #{$sm}{
            padding-left: 15px;
            margin-bottom: 33px;
        }
        @media #{$xs}{
            padding-left: 15px;
            margin-bottom: 33px;
        }
        & img{
            width:100%;  
        }
    }
    
 }

//  services area 

.services__area{
        background-color: #F5F5F5;
        padding:130px 0;

        & .services__heading{
            span{
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;
            letter-spacing: 4px;
        }
        h2{
            margin-bottom: 45px;
        }
        p{
        width:40%;
        margin: 0 auto;
        }
         
        & .slider-active   { 
           & .slick-list{
            
               & .slick-track{
                background: linear-gradient(90deg, rgba(255,255,255,0) 57%, rgba(0,212,255,1) 100%) !important;
                    & .slick-slide{
                        width:380px !important;
                    }
                }
            }
          }
        
}


     & .service__card{
         max-width:380px; 
       
        & .service__content{
         text-align: center;
         padding: 53px 43px;

         h3{
            font-size:20px;
            font-weight:700; 
            margin-bottom: 30px;
            text-transform: uppercase;
            padding:0 20%
         }
         & p{
            color:#494949;
            font-size: 16px;
            font-weight: 400;
         }
         & button{
            text-transform: capitalize;
            border-radius:30px;
            font-size: 16px;
            font-weight: 800;
         }

        
      }
}
.slider-active img{
    width:100%;
}
.slick-prev{
    display:none;
}
.slick-next {
    position: absolute; 
    color:var(--tp-theme-purple);
    top: 50%;
    right: -43%;
    z-index: 99999;
    font-size: 24px;
}
}
.ml-150{
    margin-left: 280px;
    // margin-right: 100px;
}
.pl-280{
    padding-left: 280px;
    // margin-right: 100px;
}

 
.slider-active{
    position: relative;
    
    &::after{
        content:'';
        width:600px;
        height:100%;
        top:0;
        right: 0;
        background: linear-gradient(90deg, rgba(255,255,255,0) 57%, rgb(255, 255, 255) 90%);
        z-index: 55;
        // backdrop-filter: blur(5px);

    }
}

.slider-active::after{
    content:'';
    position: absolute;
    background-blend-mode: darken;

}

