@use '../utils' as *;


.about__area{
    padding:140px 0;
    margin-top: 200px;
    @media #{$lg}{
        padding: 0;
        margin-top: 28px;
    }
    @media #{$md}{
        padding: 0;
        margin-top: 28px;
    }
    @media #{$sm}{
        padding: 0;
        margin-top: 28px;
    }
    @media #{$xs}{
        padding: 0;
        margin-top: 28px;
    }
    & .about__heading{
        margin-bottom: 107px;
        & h2{
            position:relative; 
            font-size: 64px;
            @media #{$md}{
                font-size: 32px;
            }
            @media #{$sm}{
                font-size: 32px;
            }
            @media #{$xs}{
                font-size: 32px;
            }
           
            span{
                   
                background-position: 5px 58px;
              background-repeat: no-repeat;
              background-size: contain;
            }
        }
        & p{
            padding:0 80px; 
        }
    }

    & .about__content{

        & .about__img{  
            & img{
                width:100%;
            }
        }

        & .about__info{
            padding:44px 50px;
            border-radius:30px;
            color:white;
            margin-bottom: 40px;
            border:1px solid var(--tp-theme-purple);
            transition: 0.3s;
            &:last-child{
                position:relative;
                & button{
                    position: absolute;
                    right:-62px;
                    top:62px;
                    transform: rotate(-90deg);


                    @media #{$sm}{ 
                        bottom: -19px;
                        left: 50%;
                        top:81%;
                        transform: translateX(-50%);
                    }
                    @media #{$xs}{ 
                        bottom: -19px;
                        left: 50%;
                        top:81%;
                        transform: translateX(-50%);
                    }
                }
            }
            &:hover{
                background-color:var(--tp-theme-blue);
                border:1px solid transparent;
                & h3{
                    color:white;
                }
                & p{
                    color:white;
                }
            }
            & h3{
                font-weight: 700;
                text-transform: uppercase;
                color:white;
                color:var(--tp-theme-purple);
              
            }
            & p{
                font-size: 16px;
                font-weight: 400;
                color:white;
                line-height:1.1;
                color:var(--tp-theme-purple);
               
            }
            & button{
                border-radius:30px;
            }

        }
    
    }

}

.impact__heading{
    padding:60px 0;
    & h2{
        padding:20px 0;
    }
}


.growth__area{
    width:100%;
    padding:147px 148px;
    background-color: #76C9D6;
    margin-right:20px; 

    .ml-200{
        margin-left: 529px;
    }
    & .slider-nav{ 
    text-align: center;
    
    margin-right: auto;
    width: 622px;
    margin-left: auto;
    margin-bottom: 30px;
        & .slick-slide {
            margin-right:-70px; /* Adjust the value as needed for your gap */
          }
          
        &  .slick-list {
            // margin: 0 -10px; /* This compensates for the margin on the slides */
          }
    }
    & .slider-for{
        

        & .slick-slide {
            margin: 0 59px; /* Adjust the value as needed for your gap */
          }
          
        &  .slick-list {
            margin: 0 -59px; /* This compensates for the margin on the slides */
          }
    }

    & .slick-center{
        font-size: 20px;
        color:white;
        font-weight: 700px;
        transform: all .07s;
        &:last-child{
            & div{
                & div{
                    font-size: inherit;
                    color: inherit;
                }
            }
        }
        & div{
            & div{
                font-size:30px;
                font-weight:700;
            }
        }
    }

    & .growth__wrapper{
         position:relative;
         &::after{
            content:'';
            width: 400px;
            height: 100%;
            position: absolute;
            top: 22px;
            right: -148px;
            background: linear-gradient(270deg, #76C9D6 37.91%, rgba(118, 201, 214, 0) 91.35%);

         }
    }

    & .growth__content{
        border:1px solid white;
        padding:57px 47px;
        display:flex;
        gap:57px;
        align-items: center;
        border-radius:30px;
        & h3{
            font-size: 150px;
            font-weight: 700;
            color:white;
        }

        & .growth__content__text{
            color:white;

            & h4{
                font-size: 20px;
                font-weight: 700;
                color:white;
                text-transform: uppercase;
                margin-bottom: 19px;
            }
            & p{
                font-size: 16px;
                font-weight: 400;
                color:white;
            }

        }

    }

}