@use '../utils' as *;


.benefits{
    &__area{
        padding:140px 0;
        background-color:white;
        @media #{$md}{
            text-align: center;
            padding:47px 0;
        }
        @media #{$sm}{
            text-align: center;
            padding:47px 0;
        }
        @media #{$xs}{
            text-align: center;
            padding:47px 0;
        }
        & .benefits__content{ 
            padding-right: 40px;
            @media #{$md}{
                padding-right: 0;
             }
            @media #{$sm}{
                padding-right: 0;
             }
            @media #{$xs}{
                padding-right: 0;
             }

            & h2{
                margin-bottom: 40px;
                @media #{$md}{
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                @media #{$sm}{
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                 @media #{$xs}{
                    font-size: 32px;
                    margin-bottom: 20px;
                 }
                & span{
                    font-size: inherit;
                    font-weight: inherit;
                    color:inherit;
                    display:inline-block;
                   
                }
            }
            & img{
                width:100%;
                text-align: center;
                margin-bottom: 10px;
            }

            & span{
                display:inline-block;
                color:var(--tp-theme-purple);
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 40px;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            & p{
                font-size: 20px;
                font-weight: 400;
                color:#494949;
                margin-bottom: 16px;
                line-height:1.5;
                @media #{$xs}{
                    font-size: 12px;
                }
            }
        }
        & .benefits__img{
            img{
                width:100%;
                height:auto;
            }
        }
    }
}


.benefits__contacts{
   
    padding:80px 0;
    text-align: center;
    & .benefits__contacts-content{
      
        & h3{
            font-size: 36px;
            font-weight: 700;
            color:white;
            margin-bottom: 40px;
            @media #{$md}{
                font-size: 20px;
                padding-left: 40px;
                padding-right: 40px;
                
            }
            @media #{$sm}{
                font-size: 20px;
                padding-left: 40px;
                padding-right: 40px;
                 
            }
            @media #{$xs}{
                font-size: 12px;
                padding-left: 30px;
                padding-right: 30px;
                
            }
        }
        & a{
            padding:12px 24px;
            background-color: #fff;
            font-size: 16px;
            font-weight: 400; 
            text-transform: capitalize;
            border-radius: 30px;
        }
    }
}
    

    

.benefits__quote{
    padding:132px 0;
    text-align: center; 
    @media #{$sm}{
        padding:40px 0;
    }
    @media #{$xs}{
        padding:40px 0;
    }

    & .benefits__quote-card{
        background-color: var(--tp-theme-purple);
        padding:53px 10px; 
        margin-top: 70px;
        border-radius: 30px;
        & p{
            color:white;
            font-size: 20px;
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 30px;
            line-height: 1.4;
            padding:0 26px; 
            @media #{$xs}{
                font-size: 10px;
            }
        }
        & a{
            background-color: var(--tp-theme-orange);
            padding:12px 20px;
            border-radius:30px;
            color:var(--tp-theme-purple)
        }
    }

}

 
.green{
    background-color: var(--tp-theme-green);
}
.text-green{
     color: var(--tp-theme-green);
}
.pink{
    background-color: var(--tp-theme-pink);
}

.text-pink{
    color:var(--tp-theme-pink)
}
.orange{
    background-color: var(--tp-theme-orange);

}
.text-orange{
    color:var(--tp-theme-orange)
}
.blue{
    background-color: var(--tp-theme-blue);

}
.text-blue{
    color:var(--tp-theme-blue)
}

 
.benefits__quote-title{
    & h2{
        font-size: 32px;
    }
}
.quote1{
    @media #{$xs}{
        font-size: 14px;
        display:block;
    }
}