@use '../utils' as *;


.benefits{
    &__area{
        padding:140px 0;
        background-color:white;
        @media #{$md}{
            text-align: center;
            padding:47px 0;
        }
        @media #{$sm}{
            text-align: center;
            padding:47px 0;
        }
        @media #{$xs}{
            text-align: center;
            padding:47px 0;
        }
        & .benefits__content{ 
            padding-right: 5%;
            @media #{$md}{
                padding-right: 0;
             }
            @media #{$sm}{
                padding-right: 0;
             }
            @media #{$xs}{
                padding-right: 0;
             }

            & h2{ 
                text-transform: capitalize;
                letter-spacing: -2px;
                line-height:1.1;
                margin-bottom: 10px;
                @media #{$xl}{
                    font-size: 44px;
                }
                @media #{$md}{
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                @media #{$sm}{
                    font-size: 32px;
                    margin-bottom: 20px;
                }
                 @media #{$xs}{
                    font-size: 32px;
                    margin-bottom: 30px;
                    padding:0 100px;
                    line-height: 1.3;
                 }
                & span{
                    font-size: inherit;
                    font-weight: inherit;
                    text-transform: capitalize;
                    color:inherit;
                    display:inline-block;
                    background-size:100%;
                    padding:9px 0;
                    line-height:1.1;
                    letter-spacing: -2px;
                    margin-top: 0 !important;
                    margin-bottom:0px !important;
                    @media #{$xs}{
                        margin-bottom: 0px;
                        padding-bottom: 0; 
                        padding: 0;
                    }

                   
                }
            }
            & img{
                width:100%;
                text-align: center;
                margin-bottom: 10px;
            }

            & span{
                display:inline-block;
                color:var(--tp-theme-purple);
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 2px;
                margin-bottom: 30px;  
                margin-top: 30px;  
                padding-right:60px;
                line-height:32px; 
                text-transform: uppercase;
                @media #{$sm}{
                    font-size:14px;
                    margin-top: 0;  
                    line-height: 21px;
                    
                }
                @media #{$xs}{
                    font-size:14px;
                    margin-top: 0;  
                    padding-left: 40px;
                    padding-right: 40px;
                    line-height: 21px;
                    
                }
            }
            & p{
                font-size: 20px;
                font-weight: 400;
                color:#494949;
                margin-bottom: 16px;
                padding-right: 15px;
                line-height:29px;
                @media #{$md}{
                    line-height: 20px;
                    font-size: 12px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @media #{$sm}{
                    line-height: 20px;
                    font-size: 12px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                @media #{$xs}{
                    line-height: 20px;
                    font-size: 12px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
        & .benefits__img{ 
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 30px;
            background-position: center;
        
        }
    }
}


.benefits__contacts{
   
    padding:80px 0;
    text-align: center;
    @media #{$md}{
        padding:35px 0; 
    }
    @media #{$sm}{
        padding:35px 0; 
    }
    @media #{$xs}{
        padding:35px 0; 
    }
    & .benefits__contacts-content{
      
        & h3{
            font-size: 36px;
            font-weight: 700;
            color:white;
            margin-bottom: 40px;
            @media #{$md}{
                font-size: 20px;
                padding-left: 40px;
                padding-right: 40px;
                
            }
            @media #{$sm}{
                font-size: 20px;
                padding-left: 40px;
                padding-right: 40px;
                 
            }
            @media #{$xs}{
                font-size: 12px;
                padding-left: 30px;
                padding-right: 30px;
                
            }
        }
        & a{
            padding:12px 24px;
            background-color: #fff;
            font-size: 16px;
            font-weight: 400; 
            text-transform: capitalize;
            border-radius: 30px;
        }
    }
}
    

    

.benefits__quote{
    padding:132px 0;
    text-align: center; 
    @media #{$md}{
        padding:40px 0;
    }
    @media #{$sm}{
        padding:40px 0;
    }
    @media #{$xs}{
        padding:40px 0;
    }

    & .benefits__quote-card{
        background-color: var(--tp-theme-purple);
        padding:53px 10px; 
        margin-top: 70px;
        border-radius: 30px;
        @media #{$md}{
            margin-top: 30px;
        }
        @media #{$sm}{
            margin-top: 30px;
        }
        @media #{$xs}{
            margin-top: 30px;
        }
        
        & p{
            color:white;
            font-size: 20px;
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 30px;
            line-height: 1.4;
            padding:0 26px; 
            @media #{$sm}{
                padding:12px 0;
                font-size: 10px;
            }
            @media #{$xs}{
                padding:12px 0;
                font-size: 10px;
            }
        }
        & a{
            background-color: var(--tp-theme-orange);
            padding:12px 20px;
            border-radius:30px;
            color:var(--tp-theme-purple);
           
        }
    }

}

 
.green{
    background-color: var(--tp-theme-green);
}
.text-green{
     color: var(--tp-theme-green);
}
.pink{
    background-color: var(--tp-theme-pink);
}

.text-pink{
    color:var(--tp-theme-pink)
}
.orange{
    background-color: var(--tp-theme-orange);

}
.text-orange{
    color:var(--tp-theme-orange)
}
.blue{
    background-color: var(--tp-theme-blue);

}
.text-blue{
    color:var(--tp-theme-blue)
}

 
.benefits__quote-title{
    & h2{
        font-size: 64px;
        @media #{$md}{
           font-size: 32px;
        }
        @media #{$sm}{
           font-size: 32px;
        }
        @media #{$xs}{
           font-size: 32px;
        }

        & span{
            @media #{$md}{
                padding: 14px 0;
                background-position: 0 50px;
            }
            @media #{$sm}{
                padding: 14px 0;
                background-position: 0 50px;
            }
            @media #{$xs}{
                padding: 14px 0;
                background-position: 0 50px;
                background-size: 100%;
            }
            padding:10px 0;
        }
    }
}
.quote1{
    @media #{$md}{
        font-size: 14px;
        display:block;
    }
    @media #{$sm}{
        font-size: 14px;
        display:block;
    }
    @media #{$xs}{
        font-size: 14px;
        display:block;
    }
}