@use '../utils' as *;

 
.blog__details{
    padding-top:183px;
    padding-bottom: 170px;
    @media #{$md}{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    @media #{$sm}{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    @media #{$xs}{
        padding-top: 0px;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    & .blog_details_heading{
        margin-bottom: 70px;
        @media #{$xs}{
             margin-bottom: 16px;
        }
        & h2{
            @media #{$md}{
                font-size: 32px;
            }
            @media #{$sm}{
                font-size: 32px;
                padding:0 50px;
            }
            @media #{$xs}{
                font-size: 32px;
                padding:0 50px;
            }
        }
      & span{
            display:block;
            margin:32px 0;
            @media #{$md}{
                margin:12px 0;
            }
            @media #{$sm}{
                margin:12px 0;
            }
            @media #{$xs}{
                margin:12px 0;
            }
        }
        & .blog__info{
            display:flex;
            align-items: center;
            gap:20px;
            justify-content: center;
            & .blog__author{
                display:flex;
                gap:10px;
                align-items: center;
                 & img{
                    width:34px;
                    height:34px;
                    border-radius: 50%;
                    @media #{$xs}{
                        width:25px;
                        height:25px;
                    }
                 }
                 & h5{
                    margin-top: 10px;
                    color:#696A75;
                    font-size: 20px;
                    font-weight: 600;
                    @media #{$xs}{
                        font-size: 10px;
                    }

                 }
            }

            & .blog__date{
                display:flex;
                align-items: center;
                gap:10px;

                & span{
                    width:34px;
                    height:34px;
                    background-color: #97989F;
                    border-radius: 50%;
                    line-height: 34px;
                    color:white;
                    @media #{$xs}{
                        width:25px;
                        height:25px;
                    }
                }
                & h5{
                    margin-top: 10px;
                    color:#696A75;
                    font-size: 20px;
                    font-weight: 600;
                    @media #{$xs}{
                       font-size: 10px;
                    }
                }
            }
        }
    }

    & .blog__details-content{
        & img{
            width:100%;
            margin-bottom: 80px;
            border-radius:30px;
            @media #{$xs}{
                margin-bottom: 30px;
             }

        }
        & h4{
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
            text-transform: uppercase;
            color:var(--tp-theme-purple);
            margin-top: 10px;
            @media #{$md}{
                font-size: 14px;
            }
            @media #{$sm}{
                font-size: 14px;
            }
            @media #{$xs}{
                font-size: 14px;
            }
        }
        & p{
            color:#494949;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 20px;
            line-height:1.4;
            @media #{$md}{
                font-size: 12px;
            }
            @media #{$sm}{
                font-size: 12px;
            }
            @media #{$xs}{
                font-size: 12px;
            }
        }

    }
}