@use '../utils' as *;



.contact__title__area{
    text-align: center;
    padding:100px 0;
    @media #{$md}{
        padding:50px 0;
    }
    @media #{$sm}{
        padding:50px 0;
    }
    @media #{$xs}{
        padding:50px 0;
    }
    & .contact__content{
        & h2{
            @media #{$sm}{
                font-size: 32px;
            }
            @media #{$xs}{
                font-size: 32px;
            }

            & span{
                @media #{$sm}{
                     
                }
                @media #{$xs}{
                     padding:15px 0;
                     background-size:100%;
                     background-position:100% 100%;
                }
            }
        }
    }

    & .support__content{
        @media #{$md}{
            margin-bottom: 30px;
        }
        @media #{$sm}{
            margin-bottom: 30px;
        }
        @media #{$xs}{
            margin-bottom: 30px;
        }
    }
}
.contact__area{
     
    & .contact__form{
        padding:85px 95px 65px 95px;
        border:1px solid var(--tp-theme-purple);
        border-radius:30px;
        margin-bottom: 65px;
        @media #{$sm}{
            padding: 40px;
        }
        @media #{$xs}{
            padding: 40px;
        }

        & .contact__title{
            width:300px; 
            @media #{$md}{
                width:100%;
                text-align: center;
                margin-bottom: 22px;
                padding-left: 20px;
                padding-right: 20px;
                line-height: 1.1;

            }
            @media #{$sm}{
                width:100%;
                text-align: center;
                margin-bottom: 22px;
                padding-left: 20px;
                padding-right: 20px;
                line-height: 1.1;
            }
            @media #{$xs}{
                width:100%;
                text-align: center;
                margin-bottom: 22px;
                padding-left: 20px;
                padding-right: 20px;
                line-height: 1.1;
            }
            & h3{
                font-size: 48px;
                font-weight: 700;
                margin-bottom: 43px;
                @media #{$md}{
                    font-size: 16px;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                }
                @media #{$sm}{
                    font-size: 16px;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                }
                @media #{$xs}{
                    font-size: 16px;
                    margin-bottom: 8px;
                    text-transform: uppercase;
                }

            }
            & span{
                font-size: 24px;
                color:var(--tp-theme-purple);
                font-weight: 700;
                @media #{$sm}{
                    font-size: 10px;
                }
                @media #{$xs}{
                    font-size: 10px;
                }

            }
        }
        & label{
            @media #{$sm}{
                font-size: 10px;
            }
            @media #{$xs}{
                font-size: 10px;
            }
        }
        & input{
            width:100%;
            border-radius:30px;
            border:1px solid #494949;
            padding:5px 10px;
            font-size:16px;

        }
        & textarea{
            width:100%;
            border-radius:30px;
            border:1px solid #494949;
            height:148px;
            padding:5px 10px;
            font-size:16px;

        }
        & button{
            font-size:16px;
            color:white;
            border-radius:30px;
            margin-top: 39px;
        }
    }
}
.mb-15{
    margin-bottom: 15px;
}

.form__btn{ 
    display:flex ;
    justify-content: end;

    @media #{$sm}{
        display: block;
        justify-content: start;
        width:100%; 
    }
    @media #{$xs}{
        display: block;
        justify-content: start;
        width:100%; 
    }

    & button{
        text-align: end;
         @media #{$sm}{
         width:100%;
         text-align: center;
    }
         @media #{$xs}{
         width:100%;
         text-align: center;
    }

    }
}



.contact_donate__btn{
    & .donate__contact{
        & button{
            font-size: 32px;
        }
    }
}