@use '../utils' as *;

 .location__area{
    padding-bottom: 186px;
    @media #{$xs}{
       padding-bottom: 50px;
    }
 }
.adress{
    background-color: #fff;
    border-radius: 30px;
    height:515px;
    padding:40px;
    border-radius:30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    @media #{$xs}{
        box-shadow: none;
        height:auto;
        margin-top: 80px;
        border-radius: 0;
    }

    & h3{
        font-size: 24px;
        font-weight: 700;
        color:var(--tp-theme-pink);
        text-transform: uppercase;
        margin-bottom: 34px;
    }
    & p{
        margin-bottom: 30px;
        font-size: 16px;
        font-weight: 400;
        color:#494949;
        & span{
            margin-right: 10px;
        }
        @media #{$md}{
            font-size: 10px;
            margin-bottom: 18px;
        }
        @media #{$sm}{
            font-size: 10px;
            margin-bottom: 18px;
        }
        @media #{$xs}{
            font-size: 10px;
            margin-bottom: 18px;
        }
    }
    & button{
        position:absolute;
       bottom:40px;
       color:white;
       border-radius:30px;
       @media #{$xs}{
        position:static;
        width:100%;
        margin-bottom: 15px;
        background-color: var(--tp-theme-purple);
       }
    }

    & .lock__num{
        display: flex;
        gap:5px;
        align-items: center;
        & ul{
            display: flex;
            gap:10px;
            align-items: center;
            list-style-type: none;
            & li{
                background-color: red; 
                color:#fff;
                text-align: center;
                border-radius:30px;
                font-size: 12px;
                    width:37px;
                    line-height: 21px;
                @media #{$xs}{
                    font-size: 12px;
                    width:37px;
                    line-height: 21px;
                }
            }
        }
    }
}

.google__maps{
    height:515px;
    width:100%;
    padding-left: 15px;
    & h3{
        text-align: center;
        margin-bottom: 20px;
        color:var(--tp-theme-purple)
    }
    @media #{$xs}{
        height:218px;
    }
    & iframe{
        height:100%;
        width:100%;
        border-radius:30px; 
        @media #{$xs}{
            height:218px;
            box-shadow: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.15); 
        }

    }
}
.location__box{
    @media #{$xs}{
     border:1px solid var(--tp-theme-purple);
     border-radius:30px;
     padding:40px 20px;
    }
 }

 .location__content{
    & h2{
        padding: 0 !important;
        & span{
            letter-spacing: 0px;
        }
    }
 }