@use '../utils' as *;

.newsletter__area{
    padding: 63px 0;
    background-color: var(--tp-theme-blue);
    text-align: center;
    @media #{$xs}{
        padding: 20px 0;
      }
    @media #{$sm}{
        padding: 20px 0;
      }
    & h3{
        color:white;
        font-size: 40px;
        font-weight: 700;
        text-align: left;
        @media #{$md}{
            font-size: 20px;
            text-align: center;
          }
        @media #{$xs}{
            font-size: 20px;
            text-align: center;
          }
        @media #{$sm}{
           font-size: 20px;
           text-align: center;
          }

    }
    & .newsletter__form{
        justify-content: end;
        @media #{$lg}{
            justify-content: center;
          }
        @media #{$md}{
            justify-content: center;
          }
        @media #{$xs}{
            justify-content: center;
          }
        @media #{$sm}{
            justify-content: center;
          }

        & .input__box{
          display:flex;
            @media #{$lg}{
                display:flex;
                align-items: center; 
              }
            @media #{$md}{
                display:flex;
                align-items: center; 
              }
            @media #{$xs}{
                display:flex;
                align-items: center; 
              }
            @media #{$sm}{
                justify-content: center;
                display:flex;
                align-items: center;
                
              }
        }
    }
 
    & .newsletter__form input{
        width:384px;
        height:40px;
        line-height: 40px;
        background-color: transparent;
        border:1px solid white;
        border-radius: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        color:white;
        @media #{$xs}{
            width:203px;
            font-size: 12px;
          }
        @media #{$sm}{
           font-size: 20px;
          }

        &::placeholder{
            color:white;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            @media #{$xs}{ 
              font-size: 12px;
            }
            @media #{$sm}{
              font-size: 12px;
              }
        }
    
    }
    & button{
        font-size: 16px;
        font-weight: 700;
        padding:0 20px; 
        background-color: #fff;
        border-radius:20px; 
        margin-left: 18px;
        @media #{$md}{
          padding:5px 20px;
        }
        @media #{$xs}{
          padding:5px 20px;
        }
        @media #{$sm}{
          padding:5px 20px;
          }
    }
    & .arr{
        width:35px;
        height:35px;
        border-radius:50%;
        line-height:39px;
        font-size: 17px;
        text-align: center;
        display: block;
        background-color: #fff;
        margin-left: 5px;
    }
}