@use '../utils' as *;



.our{
    &__services{
        padding:140px 0;
        background-color: white;
      
    }
    &__content{
        padding:0 250px;
        @media #{$md}{
          padding: 0;
        }
        @media #{$sm}{
            padding: 0;
        }
        @media #{$xs}{
            padding: 0;
        }
        & h2{
            margin-bottom: 16px;
            text-transform: capitalize;
            font-weight: 700;
            & span{
                font-size: inherit;
                font-weight: inherit;
                display:inline-block;
                color:inherit
            }
            @media #{$md}{
                font-size: 32px;
            }
            @media #{$sm}{
                font-size: 32px;
            }
            @media #{$xs}{
                font-size: 32px;
            }
        }
        & span{
            display:block;
            color:var(--tp-theme-purple);
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 40px;
        }
        & p{
            font-size: 20px;
            font-weight: 400;
            color:#494949;
            @media #{$md}{
                padding: 0;
              }
              @media #{$sm}{
                  padding: 0;
              }
              @media #{$xs}{
                  padding: 0;
              }
        }
    }
}


.service{
   &__area{

    background-color: #F5F5F5;
    padding:170px 0;
    @media #{$md}{
        padding:60px 0;
    }
    @media #{$sm}{
        padding:60px 0;
    }
    @media #{$xs}{
        padding:60px 0;
    }
   }

    &__card{
        background-color:white;
        border-radius:30px;
        margin-bottom: 30px;
        
        &-content{
            margin:auto;
            width:564px;
            text-align: center;
            padding:70px 60px;
            @media #{$md}{
                width:100%;
            }
            @media #{$sm}{
                width:100%;
            }
            @media #{$xs}{
                width:100%;
            }
            & h3{
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 30px; 
                @media #{$sm}{
                    font-size: 20px;
                }
                @media #{$xs}{
                   font-size: 20px;
                }
            }
            & p{
                font-size: 20px;
                font-weight: 400;
                color:#494949;
                line-height:1.4;
                @media #{$sm}{
                    font-size: 14px;
                }
                @media #{$xs}{
                   font-size: 14px;
                }
            }
            & a{
                padding:12px 24px;
                border-radius:30px;
                font-size: 16px;
                font-weight: 600;
                text-transform: capitalize;
                margin-top: 30px;
                display:inline-block;
                @media #{$sm}{
                    font-size: 12px;
                }
                @media #{$xs}{
                   font-size: 12px;
                }
            }
        }
    }



}

.text-purple{
    color:var(--tp-theme-purple)
}
.purple-bg{
    background-color:var(--tp-theme-purple)
}
.text-pink{
     color:#E082BA;
}
.pink-bg{
    background-color:#E082BA;
}
.text-black{
    color:#494949;
}
 
.text-green{
    color:var(--tp-theme-green);
}
.green-bg{
    background-color:var(--tp-theme-green)
}
.text-orange{
    color:var(--tp-theme-orange)
}
.orange-bg{
   background-color:var(--tp-theme-orange)
}
.text-blue{
    color:var(--tp-theme-blue)
}
.blue-bg{
   background-color:var(--tp-theme-blue)
}