@use '../utils' as *;

.p_img {
    width: 100%; 
    display: flex;
    justify-content: center;
    & img{
        width:100%;
    }
}


.people__area{

    padding-bottom: 68px;
    @media #{$md}{
        padding-bottom: 47px;
    }
    @media #{$sm}{
        padding-bottom: 47px;
    }
    @media #{$xs}{
        padding-bottom: 47px;
    }
    & .people__content{
        padding:90px 63px;
        border-radius:30px;
        text-align: center;

        @media #{$md}{
            margin-bottom: 30px;
            padding:20px;
        }
        @media #{$sm}{
            margin-bottom: 30px;
            padding:21px;
            margin-left: 15px;
            margin-right: 15px;
        }
        @media #{$xs}{
            margin-bottom: 30px;
            padding:21px;
            margin-left: 15px;
            margin-right: 15px;
        }

        & h3{ 
            font-size: 48px;
            font-weight: 700;
            color:#494949;
            margin-bottom: 53px;
            line-height: 1.5;
            @media #{$md}{
               font-size: 32px;
               margin-bottom: 10px;
            }
            @media #{$sm}{
               font-size: 16px;
               margin-bottom: 0;
            }
            @media #{$xs}{
                font-size: 16px;
                margin-bottom: 10px;
            }
            
        }
        & p{
            margin-bottom: 53px;
            font-size: 20px;
            font-weight: 400;
            padding-left: 15px;
            padding-right: 15px;
            @media #{$md}{
                font-size: 16px;
                padding: 0;
                margin-bottom: 0;
             }
             @media #{$sm}{
                font-size: 10px;
                padding: 0;
                margin-bottom: 0;
             }
             @media #{$xs}{
                 font-size: 10px;
                 padding: 0;
                 margin-bottom: 10px;
                 line-height:1.7;
             }
        }
        & button{
            color:white;
            border-radius:30px;
            @media #{$md}{
                font-size: 13px;
                margin-top: 15px;
             }
             @media #{$sm}{
                font-size: 13px;
             }
             @media #{$xs}{
                 font-size: 13px;
             }
        }
    }

}

.people__heading{

    & h2{

        & .people_h{
            background-size: 100% !important;
            background-position: 100% 93% !important;
            padding: 20px 0 !important;
            background-repeat: no-repeat !important;
        
        }
    }
    & p{
        @media #{$md}{
            padding-left: 60px;
            padding-right: 60px;
            margin-bottom: 30px;
        }
        @media #{$sm}{
            padding-left: 30px;
            padding-right: 30px;
        }
        @media #{$xs}{
            padding-left: 15px;
            padding-right: 15px;
            line-height: 1.3;
        }

    }
   
}


.team__img{
    width:100%;
    & img{
        width:100%;
    }
}


.board__area{
    padding:150px 0;
    @media #{$md}{
        padding:52px 0;
    }
    @media #{$sm}{
        padding:52px 0;
    }
    @media #{$xs}{
        padding:52px 0;
    }
     & .board__content{
        margin-top: 40px;
     }

    & .section_heading{
        padding-bottom: 6px;
        & h2{
            color:white;
            @media #{$md}{
                font-size: 32px;
            }
            @media #{$sm}{
                font-size: 32px;
            }
            @media #{$xs}{
                font-size: 32px;
            }
            & span{
                background-repeat: no-repeat;
                background-position:bottom center; 
                @media #{$md}{
                    background-position: 0 43px;
                    padding: 11px 0px;
                }
                @media #{$sm}{
                    background-position: 0 43px;
                    padding: 11px 0px;
                }
                @media #{$xs}{
                    background-position: 0 43px;
                    padding: 11px 0px;
                }
            }
        }
    }

}
.auth{
    
    & span{
        font-size: 20px;
        color:var(--tp-theme-green);
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 8px;
        @media #{$md}{
            font-size: 10px;
            color:white;
        }
        @media #{$sm}{
            color:white;
            font-size: 10px;
        }
        @media #{$xs}{
            font-size: 10px;
            color:white;
        }
    }
    & h3{
        font-size: 56px;
        font-weight: 700;color:#494949;
        text-transform: capitalize;

        @media #{$md}{
            font-size: 16px;
            color:white;
        }
        @media #{$sm}{
            font-size: 16px;
            color:white;
        }
        @media #{$xs}{
            font-size: 16px;
            color:white;
        }
    }

}

.board__btn {
    & .orange-bg{
        background-color:var(--tp-theme-orange)
    }
    a{
        padding:12px 20px;
        background-color: var(--tp-theme-green);
        color:white;
        font-size: 14px;
        border-radius: 30px;
        @media #{$md}{
            font-size: 10px;
            color:var(--tp-theme-green);
            background-color: #fff;
        }
        @media #{$sm}{
            font-size: 10px;
            color:var(--tp-theme-green);
            background-color: #fff;
        }
        @media #{$xs}{
            font-size: 10px;
            padding:12px 8px;
            color:var(--tp-theme-green);
            background-color: #fff;
        }

    }
}
.accordion-body{
    font-size: 20px;
    color:#494949;
    font-weight: 400;
    line-height: 1.4;
    width:71%;
    margin:auto;
    padding-bottom: 80px;
    @media #{$md}{
        font-size: 12px;
        width:100%;
        padding-bottom: 40px;
    }
    @media #{$sm}{
        font-size: 12px;
        width:100%;
        padding-bottom: 40px;
    }
    @media #{$xs}{
        font-size: 12px;
        width:100%;
        padding-bottom: 40px;
    }
}
.accordion-button{
    border-radius:30px !important;
    border:0;
    & .collapsed{
        border:0;
        &:focus{
            outline:none;
        }
    }
    &:focus{
        outline: none;
    }
}
.accordion-item{
    border-radius:30px !important;
    margin-bottom: 30px;
}

.board__content{
    & .accordion-item{
        outline:none;
    }
}

.board__accordion{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    outline: none;

    
    & .board__title{
        gap:30px;
        display:flex;
        align-items: center;
        @media #{$md}{
            gap:15px;
        }
        @media #{$sm}{
            gap:15px;
        }
        @media #{$xs}{
            gap:15px;
        }
        & .b_border{
            border:2px solid var(--tp-theme-green);
        }
        & .b_border_orange{
            border:2px solid var(--tp-theme-orange);
        }
        & .text-orange{
            color:var(--tp-theme-orange)
        }
        & .orange-bg{
            background-color:var(--tp-theme-orange);
        }
        & .profile{
            width:110px;
            height:110px;
            border-radius:30px;
            background-color:white;
            
            @media #{$md}{
                width:60px;
                height:60px;
                border-radius:20px;
            }
            @media #{$sm}{
                width:60px;
                height:60px;
                border-radius:20px;
            }
            @media #{$xs}{
                width:60px;
                height:60px;
                border-radius:20px;
            }
        }
    }
}

.accordion-button::after{
    display:none;
}
.accordion-button:not(.collapsed) {
    /* color: #0c63e4; */
    background-color:none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button .collapsed {
    /* color: #0c63e4; */
     background-color:none;
     outline:none;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:not(.collapsed) {
    /* color: #0c63e4; */
    outline:none;
     background-color: #fff;  
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-flush .accordion-item .accordion-button {
    
    padding: 52px 65px;
    @media #{$md}{
        padding:20px;
        background-color: var(--tp-theme-green);
        border:1px solid white;
    }
    @media #{$sm}{
        padding:20px;
        background-color: var(--tp-theme-green);
        border:1px solid white;
    }
    @media #{$xs}{
        padding:20px;
        background-color: var(--tp-theme-green);
        border:1px solid white;
    }
}

.delever__button{
    @media #{$md}{
        background-color: var(--tp-theme-orange) !important;
    } 
    @media #{$sm}{
        background-color: var(--tp-theme-orange) !important;
    } 
    @media #{$xs}{
        background-color: var(--tp-theme-orange) !important;
    } 

    & .auth{
        & span{
            
            @media #{$md}{
                color:white !important;
            }
            @media #{$sm}{
                color:white !important;
            }
            @media #{$xs}{
                color:white !important;
            }
        }
    }

    & .board__btn{
        & a{
            @media #{$md}{
                background-color: white !important;
                color:var(--tp-theme-orange) !important;
            }
            @media #{$sm}{
                background-color: white !important;
                color:var(--tp-theme-orange) !important;
            }
            @media #{$xs}{
                background-color: white !important;
                color:var(--tp-theme-orange) !important;
            }
            
        }
    }

}