@use '../utils' as *;


.support{
    &__area{
        padding-top: 140px;
        padding-bottom: 108px;
        text-align: center;
    }
    &__content{
        & span{
            margin: 43px;
            display:block;
        }
        & p{
            padding:0 122px;
            margin-bottom: 20px;
        }
    }
}

.features__area{
     
        padding:114px 0;
        background-size: cover;
   
    & .feature__content{
        background-color: #fff;
        padding:50px 96px;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 30px;
        & h3{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }
        & p{
            font-size: 16px;
            font-weight: 400;
            color:#494949;
            margin:30px 0;
        }
        & button{
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            color:white;
            border-radius:30px;
        }
    }
}