@use '../utils' as *;


.support{
    &__area{
        padding-top: 100px;
        padding-bottom: 92px;
        text-align: center;
        @media #{$md}{
            padding:  0;
        }
        @media #{$sm}{
            padding:  0;
        }
        @media #{$xs}{
            padding:  0;
        }
    }
    &__content{
        @media #{$md}{
           padding-top: 50px;
           padding-left: 30px;
           padding-right: 30px; 
        }
        @media #{$sm}{
           padding-top: 50px;
           padding-left: 30px;
           padding-right: 30px; 
        }
        @media #{$xs}{
           padding-top: 50px;
           padding-left: 30px;
           padding-right: 30px; 
        }
        & h2{
            @media #{$md}{
                font-size: 32px;
                margin-bottom: 25px;
                padding:0 47px;
            }
            @media #{$sm}{
                font-size: 32px;
                margin-bottom: 25px;
                padding:0 47px;
            }
            @media #{$xs}{
                font-size: 32px;
                margin-bottom: 25px;
                padding:0 57px;
            }
            & span{
                display:inline-block;
                margin: 0;
                @media #{$md}{
                    background-size: 100%;
                    background-position: 100% 100%;
                    padding:10px 0;
                    font-size: inherit;
                }
                @media #{$sm}{
                    background-size: 100%;
                    background-position: 100% 100%;
                    padding:10px 0;
                    font-size: inherit;
                }
                @media #{$xs}{
                    background-size: 100%;
                    background-position: 100% 100%;
                    padding:10px 0;
                    font-size: inherit;
                }
            }

        }
        & span{
           margin-bottom: 45px;
           margin-top: 29px;
            display:block;
            @media #{$md}{
                margin: 8px;
                font-size: 14px;
                line-height: 23px;
                padding:0 72px;
                letter-spacing: 1px;
             }
            @media #{$sm}{
                margin: 8px;
                font-size: 14px;
                line-height: 23px;
                padding:0 72px;
                letter-spacing: 1px;
             }
            @media #{$xs}{
                margin: 8px;
                font-size: 14px;
                line-height: 23px;
                padding:0 72px;
                letter-spacing: 1px;
             }
        }
        & p{
            padding:0 122px;
            margin-bottom: 20px;
        }
       
    }
}

.features__area{
     
        padding:115px 0;
        background-size: cover;
        @media #{$md}{
            padding:47px 0;
        }
        @media #{$sm}{
            padding:47px 0;
        }
        @media #{$xs}{
            padding:47px 0;
        }
   
    & .feature__content{
        background-color: #fff;
        padding:50px 96px;
        border-radius: 30px;
        text-align: center;
        margin-bottom: 30px;
        @media #{$md}{
            padding:33px 34px;
        }
        @media #{$sm}{
            padding:33px 34px;
        }
        @media #{$xs}{
            padding:33px 34px;
        }
        & h3{
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            @media #{$xs}{
                margin-bottom: 22px;
            }
        }
        & p{
            font-size: 16px;
            font-weight: 400;
            color:#494949;
            margin:30px 0;
            @media #{$md}{
                font-size: 10px;
                line-height: 16px;
                padding:0 30px;
                margin:22px 0;
                 
            }
            @media #{$sm}{
                font-size: 10px;
                line-height: 16px;
                padding:0 30px; 
                margin:22px 0;
            }
            @media #{$xs}{
                font-size: 10px;
                line-height: 16px;
                padding:0 30px;  
                margin:22px 0;
            }
        }
        & button{
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            color:white;
            border-radius:30px;
            @media #{$md}{
                font-size:13px;
                padding:6px 40px !important;
            }
            @media #{$sm}{
                font-size:13px;
                padding:6px 40px !important;
            }
            @media #{$xs}{
                font-size:13px;
                padding:6px 40px !important;
            }

        }
    }
}

.donate_btn{
    border-radius:30px;
    margin-bottom: 30px;
    color:white;
    margin-top: 15px;
    text-transform: uppercase;
    @media #{$xs}{
        padding:6px 0;
        font-size:13px;
        width:153px;
        margin-bottom: 47px;
        text-transform: uppercase;
    }

}

.partner__contact{
    background-color: var(--tp-theme-orange);
    @media #{$md}{
        background-color: var(--tp-theme-pink);
    }
    @media #{$sm}{
        background-color: var(--tp-theme-pink);
    }
    @media #{$xs}{
        background-color: var(--tp-theme-pink);
    }
    & button{
        color:var(--tp-theme-orange);
        @media #{$xs}{
            color: var(--tp-theme-pink);
        }
    }
}